accelerate==1.7.0
matplotlib==3.10.7
numpy==1.24.4
omegaconf==2.3.0
Pillow==11.3.0
peft>=0.13.0
PyYAML==6.0.2
PyYAML==6.0.3
scipy==1.16.2
tensorboard==2.19.0
torch==2.8.0+cu126
torchmetrics==1.8.2
torchvision==0.23.0+cu126
tqdm==4.67.1
xformers==0.0.32.post2
